<div class="row">

	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<a class="navbar-brand" href="#/base">Welcome to Food Panda</a>
		</nav>
	</div>
	<div  style="margin-top: 60px" >
	<div class="col-md-3 col-sm-0 col-xs-0" style="margin-top: 60px">
		<h4 style="margin-left: 30px;">Previous Orders</h4>
		<div style="margin-left: 60px;" ng-repeat="caseId in registerCaseArray">
			<li>{{caseId}}</li>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">

		<form name="myform">
		
			 <section ng-app="myApp" ng-controller="tabController as tab">
		        <ul class="nav nav-tabs nav-justified">
		            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1);">PizzaHut</a></li>
		            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Dominos</a></li>
		            <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Mainland China</a></li>
		            <li ng-class="{active:tab.isSet(4)}"><a href ng-click="tab.setTab(4)">Chutneys</a></li>
		        </ul>
		        <div ng-show="tab.isSet(1)">
		             <div id="menu1" ng-include='"partial/menu1.html"'></div>
		        </div>
		        <div ng-show="tab.isSet(2)">
		             <div id="menu2" ng-include='"partial/menu2.html"'></div>
		        </div>
		        <div ng-show="tab.isSet(3)">
		             <div id="menu3" ng-include='"partial/menu3.html"'></div>
		        </div>
		        <div ng-show="tab.isSet(4)">
		             <div id="menu4" ng-include='"partial/menu4.html"'></div>
		        </div>

		    </section> 
    		
			<div>
				<button type="button" class="btn btn-primary" ng-click="submit();"
					>Submit</button>
				<button type="button" class="btn btn-link pull-right"
					ng-click="clear();">Clear</button>
				<button type="button" class="btn btn-link pull-right"
					ng-click="populate();">Populate</button>
			</div>
		</form>
	</div>
	<div class="col-md-3 col-sm-0 col-xs-0">
	<h4 style="margin-left: 30px;">Popular</h4>
		<div style="margin-left: 60px;">
		</div>
	</div>
</div>
<!-- <div>
		<nav class="navbar navbar-fixed-bottom">
			<label class="navbar-brand pull-right" href="#">copyrighted @
				2016</label>
		</nav>
	</div> -->
</div>
 <script>
	$(function() {
		$("#datepicker").datepicker();
	});
	$(function() {
		$("#datepicker1").datepicker();
	});
	$(function() {
		$("#datepicker2").datepicker();
	});
</script> 